p {
    margin-bottom: 5px;
}

div {
    width: 500px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
}

#winTwo {
    display: none;
}

button {
    width: 100px;
}

#result {
    width: 500px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    display: none;
}