.block {
    border: 2px solid;
    border-color: rgb(166, 176, 179);
    width: 200px;
    background: rgb(166, 176, 179);
}

.block:hover {
    border-color: rgb(91, 99, 102);
    background-color: rgb(91, 99, 102);
    cursor: pointer;
}

.pict {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 2%;
    font-weight: 1000;
    vertical-align: middle;
}

SPAN {
    color: white;
}